
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    width: 100%;
    background-color: #1c39bb;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

/* Sidebar styles */
.sidebar {
    background-color: #31528a;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.employe, .EmployeeContainer {
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    margin: 10px auto;
    background-color: #fdcb02;
    padding: 5px;
    width: fit-content;
}
.addemployee{
    text-align: center;
}

/* Main content */
/* .main-content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
} */
/* .Side-Content{
    display: flex;

} */
.rooms-container {
    background-color: #2953ff;
}
.roomcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;

}

.roomPlace {
    width: 90px;
    height: 60px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    transition: .2s;
}
.floor-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}

/* .zone-card {
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
  min-height: 200px; 

} */

.zone-card {
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 0;
}




#card1 {
background-image: url('../images/conférence.jpg');
background-size: contain;
border-radius: 8px;

}
#card2 {
background-image: url('../images/Réception.jpg');
background-size: contain;
border-radius: 8px;
}
#card3 {
background-image: url('../images/serveurs.jpg');
background-size: contain;
border-radius: 8px;
}
#card6 {
background-image: url('../images/arch.jpg');
background-size: contain;
border-radius: 8px;
}
#card4 {
background-image: url('../images/security.jpg');
background-size: contain;
border-radius: 8px;
}
#card5 {
background-image: url('../images/personnal.jpg');
background-size: contain;
border-radius: 8px;
}

.zone-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.zone-add {
  background: #b2f5bb;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

.zone-empty {
  color: #888;
  font-size: 14px;
}

.zone-list {
  list-style: none;
  margin-top: 10px;
}
.salle-name {
 font-family:Arial, Helvetica, sans-serif;
    color: #fccb01;
    margin-top: 4px;

}